---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Abril 2024 - Junio 2024",
    title: "Practicas en Fontventa S.L.",
    company: "Fontventa S.L",
    description:
      "He realizado las practicas en esta empresa que trabaja con .NET y Visual Basic con framework EXT.NET y he podido desarollar un proyecto api rest con este lenguaje y adaptarme a .NET al punto de sentirme bastante comodo y aprender mucho sobre este lenguaje.",
    link: "https://www.fontventa.com/",
  },
  {
    date: "Septiembre 2022 - Junio 2024",
    title: "Grado Superior de diseño de aplicaciones web",
    company: "IES Luis Vives",
    description:
      "Titulo de diseñador de aplicaciones web en el cual en la parte de Front-end he visto HTML, CSS, Angular, Javascript, Ionic y en la parte de Back-end he visto Java con Springboot, Typescript con Node y Php con Laravel.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
